<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1>HELLOOOO</h1>
  	<div><%= age %></div>
  	<div><%= l_name %></div>
  </body>
</html>
