<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rental Car</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>

<div class="container text-center">
    <br/>
    <h1 class="display-3">Rental <kbd>Car</kbd></h1>
    <br/>
    <i class="fas fa-car fa-10x"></i>
    <br/>
    <div class="alert alert-info">
        <h1><strong>Info!</strong></h1>
        <h1>If you want to use this system, you have to log-in using your Facebook account</h1>
    </div>
    <br/>
    <div class="row">
        <div class="col-12">
                <a href="/login/facebook" class="btn btn-primary" role="button" style="font-size: 200%">
                    Log-in using Facebook
                    <i class="fab fa-facebook-square"></i>
                </a>
        </div>
    </div>
</div>

</body>
</html>