<!DOCTYPE html>
<html>
  <head>
    <title><%= user.displayName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi, <%= user.displayName  %>!</h1>
  </body>
</html>
