<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1><a href="http://localhost:3000/auth/facebook/callback">Zaloguj się</a></h1>
  </body>
</html>
